#chats{
	margin-left: 10px;
	font-size: 20px;
	height:83%; 
	margin-right: 10px;
}

#userinput{
	position: fixed;
	width: 100%;
	padding-top: 5px;
	height: 36px;
	background-color: #EEE;
}

#message{
	width: 94%;
	height: 30px;
	margin-left: 5px;
	font-size: 18px;
	border-radius: 2px;
	border: none;
	transition-duration: 0.4s;
}

#message:hover,:focus{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition-duration: 0.4s;
}

#send{
	width: 5%;
	height:30px;
	color: #FFF;
	background-color: #27ae60;
	border:none;
	transition-duration: 0.4s;
}

#send:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition-duration: 0.4s;
	color:#27ae60;
	background-color: #FFF;
}